/* CSS styles */
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
    font-family: Arial;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline;
    text-align: center;
    white-space: nowrap;
}

h3 {
    font-size: 21px;
    font-family: Arial;
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

h4 {
    font-size: 16px;
    font-family: Arial;
    position: absolute;
    top: 360px;
    left: calc(50% - 98px);
    transform: translateX(-50%);
    white-space: nowrap;        
    color:rgba(33, 150, 243, 1);
}

h5 {
    font-size: 21px;
    font-family: Arial;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

h6 {
    font-size: 21px;
    font-family: Arial;
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.file-list {
    position: absolute;
    left: calc(50% - 180px);
    top: 95px;
    text-align: left;
    font-size: 16px;
    font-family:Arial;
    font-weight:bold;
    color:rgba(33, 150, 243, 1);
    height: 100px;
    width: 200px;
    overflow-y: scroll;
    border: 3px solid;
    border-color:rgb(188, 190, 191);
    border-radius: 6px; 
    padding: 5px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selected {
    background-color: #e0e0e0;
  }

.directory {
    color: rgb(53, 53, 53);
}

button {
    font-size:17px;
    font-family:Arial;
    width:175px;
    height:36px;
    border-width:0px;
    margin: 5px;
    color:rgba(33, 150, 243, 1);
    border-color:rgba(33, 150, 243, 1);
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    background:rgba(211, 211, 211, 1);
}

button:hover {
    background: rgba(155, 155, 155, 1)
}

button:active {
    background: rgba(155, 155, 155, 1)
}        

button:focus {
    background: rgba(211, 211, 211, 1);
  }

.button-1 {
    position: absolute;
    top: 330px;
    left: calc(50% - 185px);
}

.button-2 {
    position: absolute;
    top: 420px;
    left: calc(50% - 185px);
}

.button-3 {
    position: absolute;
    top: 465px;
    left: calc(50% - 185px);
}

.button-4 {
    position: absolute;
    top: 565px;
    left: calc(50% - 185px);
}

.button-5 {
    position: absolute;
    top: 635px;
    left: calc(50% - 185px);
}

.button-6 {
    position: absolute;
    top: 718px;
    left: calc(50% - 93px);
}

.button-7 {
    position: absolute;
    top: 635px;
    left: calc(50% + 5px);
}

.button-8 {
    position: absolute;
    top: 565px;
    left: calc(50% + 5px);
}

.text1 {
    font-size:17px;
    font-family:Arial;
    color:rgba(33, 150, 243, 1);
    font-weight:bold;
    position: absolute;
    top: 255px;
    left: calc(50% - 180px);
}

.text2 {
    font-size:17px;
    font-family:Arial;
    color:rgba(33, 150, 243, 1);
    font-weight:bold;
    position: absolute;
    top: 255px;
    left: calc(50% + 5px);
}

.text3 {
    font-size:12px;
    font-family:Arial;
    color:rgba(33, 150, 243, 1);
    font-weight:bold;
    position: absolute;
    left: calc(50% + 40px);
    top: 185px;
    height: 30px;
    width: 150px;
    border: none;
}

.text4 {
    font-size:11px;
    font-family:Arial;
    color:black;
    position: absolute;
    left: calc(50% + 60px);
    top: 100px;
    width:120px;
    height:95px;
    border: none;
    resize: none;
    pointer-events: none;
}

.text5 {
    font-size:14px;
    font-family:Arial;
    color:rgba(33, 150, 243, 1);
    font-weight:bold;
    position: absolute;
    left: calc(50% - 185px);
    top: 226px;
    width:375px;
    height:32px;
    border: none;
    resize: none;
    pointer-events: none;
    border: none;
    background-color: white;
}

.text6 {
    font-size:14px;
    font-family:Arial;
    color: black;
    position: absolute;
    left: calc(50% - 180px);
    top: 250px;
    border: none;
}

.text7 {
    font-size:14px;
    font-family:Arial;
    color: black;
    position: absolute;
    left: calc(50% + 98px);
    transform: translateX(-50%);
    top: 480px;
    border: none;
    color: rgba(33, 150, 243, 1);
    font-weight:bold;
}

.text8 {
    font-size:14px;
    font-family:Arial;
    color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 598px;
    border: none;
    color: rgba(33, 150, 243, 1);
    font-weight:bold;
}

.text9 {
    font-size:14px;
    font-family:Arial;
    color: black;
    position: absolute;
    left: calc(50% - 98px);
    transform: translateX(-50%);
    top: 668px;
    border: none;
    color: rgba(33, 150, 243, 1);
    font-weight:bold;
}

.text10 {
    font-size:14px;
    font-family:Arial;
    color: black;
    position: absolute;
    left: calc(50% + 98px);
    transform: translateX(-50%);
    top: 668px;
    border: none;
    color: rgba(33, 150, 243, 1);
    font-weight:bold;
}

#image-preview {
    position: absolute;
    left: calc(50% + 60px);
    top: 100px;
    height: 95px;
    width: 95px;
    max-width: 100%;
    object-fit: contain;
}

#image-rd40 {
    position: absolute;
    left: calc(50% + 25px);
    top: 335px;
    height: 150px;
    width: 150px;
    max-width: 100%;
    object-fit: contain;
    display: none;
}

.slider {
    position: absolute;
    top: 400px;
    left: calc(50% - 181px);
    -webkit-appearance: none;
    width: 175px;
    height: 7px;
    border-radius: 3px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 6px; 
    background: #2196F3;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #2196F3;
    cursor: pointer;
}

#border1 {
    position: absolute;
    width: 380px;
    height: 225px;
    top: 60px;
    left: calc(50% - 190px);
    border: none;
    border-radius: 10px;
    background-color: white;
    z-index: -1;
}

#border2 {
    position: absolute;
    width: 380px;
    height: 220px;
    top: 295px;
    left: calc(50% - 190px);
    border: none;
    border-radius: 10px;
    background-color: white;
    z-index: -1;
}

#border3 {
    position: absolute;
    width: 380px;
    height: 180px;
    top: 525px;
    left: calc(50% - 190px);
    border: none;
    border-radius: 10px;
    background-color: white;
    z-index: -1;
}

#border4 {
    position: absolute;
    width: 380px;
    height: 53px;
    top: 715px;
    left: calc(50% - 190px);
    border: none;
    border-radius: 10px;
    background-color: white;
    z-index: -1;
}

#border5 {
    position: absolute;
    width: 380px;
    height: 50px;
    top: 770px;
    left: calc(50% - 190px);
    border: none;
    border-radius: 10px;
    background-color: white;
    z-index: -1;
}
